

        <!DOCTYPE HTML>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
    
    
    
    
    <title>Welcome to Coffeecat‘s Blog</title>


    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    
    <meta name="author" content="Coffeecat">
    

    
    <!--<%- open_graph({twitter_id: theme.author.twitter, google_plus: theme.author.google_plus}) %>-->

    <meta name="description" content="page.description">
    
    <meta property="og:type" content="website">
    
    <meta property="og:title" content="">
    <meta property="og:url" content="/">
    <meta property="og:site_name" content="Welcome to Coffeecat‘s Blog">
    <meta property="og:description" content="">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="page.description">
    <meta name="twitter:creator" content="@">
    <link rel="publisher" href="">

    
    <link rel="alternative" href="/atom.xml" title="Welcome to Coffeecat‘s Blog" type="application/atom+xml">
    
    
    <link rel="icon" href="/assets/img/favicon.ico">
    
    
    <link rel="apple-touch-icon" href="/assets/img/jacman.jpg">
    <link rel="apple-touch-icon-precomposed" href="/assets/img/jacman.jpg">
    

    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/dirtysea.css" type="text/css">

    
    
<script>
document.addEventListener("DOMContentLoaded", () => {
  document.querySelectorAll(".article-content pre").forEach(pre => {
    const btn = document.createElement("button");
    btn.className = "copy-btn";
    btn.type = "button";
    btn.setAttribute("data-tooltip", "Click to copy");

    btn.addEventListener("click", () => {
      navigator.clipboard.writeText(pre.innerText).then(() => {
        btn.setAttribute("data-tooltip", "Copied!");
        btn.classList.add("copied");
        setTimeout(() => {
          btn.setAttribute("data-tooltip", "Click to copy");
          btn.classList.remove("copied");
        }, 1500);
      }).catch(() => {
        btn.setAttribute("data-tooltip", "Copy failed!");
        setTimeout(() => {
          btn.setAttribute("data-tooltip", "Click to copy");
        }, 1500);
      });
    });

    pre.appendChild(btn);
  });
});
</script>
</head>

  <body>
    <header>
        <div>
		    
			<div id="imglogo">
				<a href="/"><img src="/assets/img/logo.png" alt="Welcome to Coffeecat‘s Blog" title="Welcome to Coffeecat‘s Blog"/></a>
			</div>
			
			<div id="textlogo">
				<h1 class="site-name"><a href="/" title="Welcome to Coffeecat‘s Blog">Welcome to Coffeecat‘s Blog</a></h1>
				<h2 class="blog-motto">一个不务正业的CISSP</h2>
			</div>
			<div class="navbar"><a class="navbutton navmobile" href="#" title="menu">
			</a></div>
			<nav class="animated">
				<ul>
					<ul>
					 
						<li><a href="/">Home</a></li>
					
						<li><a href="/archives">Archives</a></li>
					
						<li><a href="/about">About</a></li>
					
					<li>
 					
					<form class="search" action="/search" method="get" accept-charset="utf-8">
						<input type="search" id="search" name="q" autocomplete="off" maxlength="20" placeholder="搜索" />
					</form>
					
					</li>
				</ul>
			</nav>
</div>

    </header>
    <div id="container">
      <div id="main">

  
  
  
  
    
    <article class="post-expand post" itemprop="articleBody"> 
        <header class="article-info clearfix">
  <h1 itemprop="name">
    
      <a href="/%E7%A7%91%E5%AD%A6%E4%B8%8A%E7%BD%91/2025/09/02/E69E81E7AE80v2rayE6B581E9878FE7BB9FE8AEA1E99DA2E69DBF/" title="极简v2ray流量统计面板" itemprop="url">极简v2ray流量统计面板</a>
  </h1>
  <p class="article-author">By
       
		<a href="/about" title="Coffeecat" target="_blank" itemprop="author">Coffeecat</a>
		
  <p class="article-time">
    <time datetime="2025-09-02 00:12:13 +0000" itemprop="datePublished">  2025-09-02</time>
    
  </p>
</header>
    <div class="article-content">
        
        <p>v2ray自带流量统计功能，执行如下语句就能获得实时累计流量(需打开流量统计配置，详见下面步骤1)：</p>

        
        
        <p class="article-more-link">
          
            <a href="/%E7%A7%91%E5%AD%A6%E4%B8%8A%E7%BD%91/2025/09/02/E69E81E7AE80v2rayE6B581E9878FE7BB9FE8AEA1E99DA2E69DBF/#more">Read More</a>
          
       </p>
    </div>
    
    <footer class="article-footer clearfix">
<div class="article-catetags">
  
    <div class="article-categories">
      <span></span>
      
        
        <a href="/categories/科学上网/">科学上网</a>
      
    </div>
  

  
    <div class="article-tags">
      <span></span>
      
        
        <a href="/tags/python/">python</a>
      
        
        <a href="/tags/html/">html</a>
      
        
        <a href="/tags/nginx/">nginx</a>
      
    </div>
  
</div>




<div class="comments-count">
	
</div>

</footer>

    </article>






  
  
  
  
    
    <article class="post-expand post" itemprop="articleBody"> 
        <header class="article-info clearfix">
  <h1 itemprop="name">
    
      <a href="/%E7%A7%91%E5%AD%A6%E4%B8%8A%E7%BD%91/2025/08/26/E59CA8E696B0E78988luciE9A1B5E99DA2E4B8ADE5889BE5BBBAE88F9CE58D95E794A8E4BA8EE58887E68DA2v2rayE8BF90E8A18CE6A8A1E5BC8F/" title="在新版luci页面中创建菜单用于切换v2ray运行模式" itemprop="url">在新版luci页面中创建菜单用于切换v2ray运行模式</a>
  </h1>
  <p class="article-author">By
       
		<a href="/about" title="Coffeecat" target="_blank" itemprop="author">Coffeecat</a>
		
  <p class="article-time">
    <time datetime="2025-08-26 00:12:13 +0000" itemprop="datePublished">  2025-08-26</time>
    
  </p>
</header>
    <div class="article-content">
        
        <p>从 OpenWrt 22.x 开始，LuCI 的实现逐渐从 Lua 迁移到 ubus + ucode + JavaScript (client-side JS)：</p>

        
        
        <p class="article-more-link">
          
            <a href="/%E7%A7%91%E5%AD%A6%E4%B8%8A%E7%BD%91/2025/08/26/E59CA8E696B0E78988luciE9A1B5E99DA2E4B8ADE5889BE5BBBAE88F9CE58D95E794A8E4BA8EE58887E68DA2v2rayE8BF90E8A18CE6A8A1E5BC8F/#more">Read More</a>
          
       </p>
    </div>
    
    <footer class="article-footer clearfix">
<div class="article-catetags">
  
    <div class="article-categories">
      <span></span>
      
        
        <a href="/categories/科学上网/">科学上网</a>
      
    </div>
  

  
    <div class="article-tags">
      <span></span>
      
        
        <a href="/tags/luci/">luci</a>
      
        
        <a href="/tags/lua/">lua</a>
      
        
        <a href="/tags/js/">js</a>
      
        
        <a href="/tags/openwrt/">openwrt</a>
      
    </div>
  
</div>




<div class="comments-count">
	
</div>

</footer>

    </article>






  
  
  
  
    
    <article class="post-expand post" itemprop="articleBody"> 
        <header class="article-info clearfix">
  <h1 itemprop="name">
    
      <a href="/%E7%A7%91%E5%AD%A6%E4%B8%8A%E7%BD%91/2025/08/25/v2rayE4BDBFE794A8tproxyE4BBA3E79086udpE6B581E9878F/" title="v2ray使用tproxy代理udp流量" itemprop="url">v2ray使用tproxy代理udp流量</a>
  </h1>
  <p class="article-author">By
       
		<a href="/about" title="Coffeecat" target="_blank" itemprop="author">Coffeecat</a>
		
  <p class="article-time">
    <time datetime="2025-08-25 00:12:13 +0000" itemprop="datePublished">  2025-08-25</time>
    
  </p>
</header>
    <div class="article-content">
        
        <p>openwrt下的v2ray透明代理有redirect和tproxy两种模式，前者只能代理tcp流量，但是速度快，路由开销小，后者可以代理tcp和udp流量，但是速度慢，路由开销较高。而且redirect 会修改目标 IP，对于一些应用或 UDP 协议（比如游戏、VoIP、某些 P2P）可能无法正确工作。tproxy 能保持原始目标地址，适合复杂的分流场景，比如：UDP 透明代理、多网卡/策略路由。</p>

        
        
        <p class="article-more-link">
          
            <a href="/%E7%A7%91%E5%AD%A6%E4%B8%8A%E7%BD%91/2025/08/25/v2rayE4BDBFE794A8tproxyE4BBA3E79086udpE6B581E9878F/#more">Read More</a>
          
       </p>
    </div>
    
    <footer class="article-footer clearfix">
<div class="article-catetags">
  
    <div class="article-categories">
      <span></span>
      
        
        <a href="/categories/科学上网/">科学上网</a>
      
    </div>
  

  
    <div class="article-tags">
      <span></span>
      
        
        <a href="/tags/tproxy/">tproxy</a>
      
        
        <a href="/tags/openwrt/">openwrt</a>
      
        
        <a href="/tags/v2ray/">v2ray</a>
      
    </div>
  
</div>




<div class="comments-count">
	
</div>

</footer>

    </article>






  
  
  
  
    
    <article class="post-expand post" itemprop="articleBody"> 
        <header class="article-info clearfix">
  <h1 itemprop="name">
    
      <a href="/%E7%A7%91%E5%AD%A6%E4%B8%8A%E7%BD%91/2025/08/19/E59CA8openwrtE4B88BE4BDBFE794A8chinadns-ngE690ADE9858Dv2rayE5AE9EE78EB0E9808FE6988EE4BBA3E79086/" title="在openwrt下使用chinadns-ng搭配v2ray实现透明代理" itemprop="url">在openwrt下使用chinadns-ng搭配v2ray实现透明代理</a>
  </h1>
  <p class="article-author">By
       
		<a href="/about" title="Coffeecat" target="_blank" itemprop="author">Coffeecat</a>
		
  <p class="article-time">
    <time datetime="2025-08-19 00:12:13 +0000" itemprop="datePublished">  2025-08-19</time>
    
  </p>
</header>
    <div class="article-content">
        
        <p>之前在openwrt下一直用chinadns、dnsmasq搭配v2ray实现的透明代理上网，但是chinadns很久没维护了，另外看到了chinadns-ng，除了支持原版chinadns的功能外，还能实现dns over tcp/tls，按域名、ip分流，ipv6，还支持dns缓存，最新版本已经可以全面替代dnsmasq，dns查询性能大幅度提升。所以研究了一下，部署以后通过cdn warp后的代理速度明显提升，访问github网页速度提升了约40-50%。</p>

        
        
        <p class="article-more-link">
          
            <a href="/%E7%A7%91%E5%AD%A6%E4%B8%8A%E7%BD%91/2025/08/19/E59CA8openwrtE4B88BE4BDBFE794A8chinadns-ngE690ADE9858Dv2rayE5AE9EE78EB0E9808FE6988EE4BBA3E79086/#more">Read More</a>
          
       </p>
    </div>
    
    <footer class="article-footer clearfix">
<div class="article-catetags">
  
    <div class="article-categories">
      <span></span>
      
        
        <a href="/categories/科学上网/">科学上网</a>
      
    </div>
  

  
    <div class="article-tags">
      <span></span>
      
        
        <a href="/tags/chinadns-ng/">chinadns-ng</a>
      
        
        <a href="/tags/openwrt/">openwrt</a>
      
        
        <a href="/tags/v2ray/">v2ray</a>
      
    </div>
  
</div>




<div class="comments-count">
	
</div>

</footer>

    </article>






  
  
  
  
    
    <article class="post-expand post" itemprop="articleBody"> 
        <header class="article-info clearfix">
  <h1 itemprop="name">
    
      <a href="/%E7%A7%91%E5%AD%A6%E4%B8%8A%E7%BD%91/2025/08/14/E4BDBFE794A8warpE99A90E8978FvpsE79A84E79C9FE5AE9Eip/" title="使用warp隐藏vps的真实ip" itemprop="url">使用warp隐藏vps的真实ip</a>
  </h1>
  <p class="article-author">By
       
		<a href="/about" title="Coffeecat" target="_blank" itemprop="author">Coffeecat</a>
		
  <p class="article-time">
    <time datetime="2025-08-14 00:12:13 +0000" itemprop="datePublished">  2025-08-14</time>
    
  </p>
</header>
    <div class="article-content">
        
        <p>最近发现一些境外的图层网站还有例如reddit等网站屏蔽了很多vps的ip地址，导致即使通过vps代理也无法访问这些网站。研究了一下，发现运行v2ray的vps使用warp可以隐藏vps的真实ip。</p>

        
        
        <p class="article-more-link">
          
            <a href="/%E7%A7%91%E5%AD%A6%E4%B8%8A%E7%BD%91/2025/08/14/E4BDBFE794A8warpE99A90E8978FvpsE79A84E79C9FE5AE9Eip/#more">Read More</a>
          
       </p>
    </div>
    
    <footer class="article-footer clearfix">
<div class="article-catetags">
  
    <div class="article-categories">
      <span></span>
      
        
        <a href="/categories/科学上网/">科学上网</a>
      
    </div>
  

  
    <div class="article-tags">
      <span></span>
      
        
        <a href="/tags/warp/">warp</a>
      
        
        <a href="/tags/cloudflare/">cloudflare</a>
      
        
        <a href="/tags/v2ray/">v2ray</a>
      
    </div>
  
</div>




<div class="comments-count">
	
</div>

</footer>

    </article>






  
  
  
  
    
    <article class="post-expand post" itemprop="articleBody"> 
        <header class="article-info clearfix">
  <h1 itemprop="name">
    
      <a href="/%E5%85%B6%E4%BB%96/2025/08/08/E69BB4E68DA2E4BA86E69CACE7AB99E79A84E4B8BBE9A298/" title="更换了本站的主题" itemprop="url">更换了本站的主题</a>
  </h1>
  <p class="article-author">By
       
		<a href="/about" title="Coffeecat" target="_blank" itemprop="author">Coffeecat</a>
		
  <p class="article-time">
    <time datetime="2025-08-08 00:12:13 +0000" itemprop="datePublished">  2025-08-08</time>
    
  </p>
</header>
    <div class="article-content">
        
        <p>最近更换了本站的主题，主要是基于
<a href="https://github.com/Simpleyyt/jekyll-jacman">jekyll-jacman主题</a>做的二次开发，主要修改内容：</p>

        
        
        <p class="article-more-link">
          
            <a href="/%E5%85%B6%E4%BB%96/2025/08/08/E69BB4E68DA2E4BA86E69CACE7AB99E79A84E4B8BBE9A298/#more">Read More</a>
          
       </p>
    </div>
    
    <footer class="article-footer clearfix">
<div class="article-catetags">
  
    <div class="article-categories">
      <span></span>
      
        
        <a href="/categories/其他/">其他</a>
      
    </div>
  

  
    <div class="article-tags">
      <span></span>
      
        
        <a href="/tags/里程碑/">里程碑</a>
      
        
        <a href="/tags/cayman/">cayman</a>
      
        
        <a href="/tags/highlight-js/">highlight.js</a>
      
    </div>
  
</div>




<div class="comments-count">
	
</div>

</footer>

    </article>






  
  
  
  
    
    <article class="post-expand post" itemprop="articleBody"> 
        <header class="article-info clearfix">
  <h1 itemprop="name">
    
      <a href="/openwrt/2025/08/05/openwrtE4B88BapkE591BDE4BBA4E68AA5FDBE6A0BCE5BC8FE99499E8AFAFE79A84E8A7A3E586B3E696B9E6B395/" title="openwrt下apk命令报FDB格式错误的解决方法" itemprop="url">openwrt下apk命令报FDB格式错误的解决方法</a>
  </h1>
  <p class="article-author">By
       
		<a href="/about" title="Coffeecat" target="_blank" itemprop="author">Coffeecat</a>
		
  <p class="article-time">
    <time datetime="2025-08-05 04:23:13 +0000" itemprop="datePublished">  2025-08-05</time>
    
  </p>
</header>
    <div class="article-content">
        
        <p>话说openwrt正式版安装命令是opkg，现在snapshot里面变成了apk。前几天尝试了一下，居然得到一个报错：</p>

        
        
        <p class="article-more-link">
          
            <a href="/openwrt/2025/08/05/openwrtE4B88BapkE591BDE4BBA4E68AA5FDBE6A0BCE5BC8FE99499E8AFAFE79A84E8A7A3E586B3E696B9E6B395/#more">Read More</a>
          
       </p>
    </div>
    
    <footer class="article-footer clearfix">
<div class="article-catetags">
  
    <div class="article-categories">
      <span></span>
      
        
        <a href="/categories/openwrt/">openwrt</a>
      
    </div>
  

  
    <div class="article-tags">
      <span></span>
      
        
        <a href="/tags/openwrt/">openwrt</a>
      
        
        <a href="/tags/apk/">apk</a>
      
    </div>
  
</div>




<div class="comments-count">
	
</div>

</footer>

    </article>






  
  
  
  
    
    <article class="post-expand post" itemprop="articleBody"> 
        <header class="article-info clearfix">
  <h1 itemprop="name">
    
      <a href="/openwrt/%E7%A7%91%E5%AD%A6%E4%B8%8A%E7%BD%91/2025/07/30/openwrtE4B88Bv2rayE9808FE6988EE4BBA3E79086vE9858DE7BDAEE4BB8EiptablesE59091nftablesE8BF81E7A7BB/" title="openwrt下v2ray透明代理配置从iptables向nftables迁移" itemprop="url">openwrt下v2ray透明代理配置从iptables向nftables迁移</a>
  </h1>
  <p class="article-author">By
       
		<a href="/about" title="Coffeecat" target="_blank" itemprop="author">Coffeecat</a>
		
  <p class="article-time">
    <time datetime="2025-07-30 03:22:13 +0000" itemprop="datePublished">  2025-07-30</time>
    
  </p>
</header>
    <div class="article-content">
        
        <p>由于openwrt的防火墙逐步从iptables向nftables升级，官方24.10.2的dnsmasq包默认不将ipset纳入编译选项，只支持nftset，
由此带来v2ray透明代理的配置必须进行升级，此次主要是调整了v2ray的配置和dnsmasq-full的配置。</p>

        
        
        <p class="article-more-link">
          
            <a href="/openwrt/%E7%A7%91%E5%AD%A6%E4%B8%8A%E7%BD%91/2025/07/30/openwrtE4B88Bv2rayE9808FE6988EE4BBA3E79086vE9858DE7BDAEE4BB8EiptablesE59091nftablesE8BF81E7A7BB/#more">Read More</a>
          
       </p>
    </div>
    
    <footer class="article-footer clearfix">
<div class="article-catetags">
  
    <div class="article-categories">
      <span></span>
      
        
        <a href="/categories/openwrt/">openwrt</a>
      
        
        <a href="/categories/科学上网/">科学上网</a>
      
    </div>
  

  
    <div class="article-tags">
      <span></span>
      
        
        <a href="/tags/openwrt/">openwrt</a>
      
        
        <a href="/tags/科学上网/">科学上网</a>
      
    </div>
  
</div>




<div class="comments-count">
	
</div>

</footer>

    </article>






  
  
  
  
    
    <article class="post-expand post" itemprop="articleBody"> 
        <header class="article-info clearfix">
  <h1 itemprop="name">
    
      <a href="/openwrt/2024/12/19/openwrtE8B7AFE794B1E9A3A8E7BDB2wireguardE5AE9EE78EE7B8AEE4B8A4E59C84E7BB84E7BD91/" title="openwrt路由部署wireguard实现两地组网" itemprop="url">openwrt路由部署wireguard实现两地组网</a>
  </h1>
  <p class="article-author">By
       
		<a href="/about" title="Coffeecat" target="_blank" itemprop="author">Coffeecat</a>
		
  <p class="article-time">
    <time datetime="2024-12-19 06:12:12 +0000" itemprop="datePublished">  2024-12-19</time>
    
  </p>
</header>
    <div class="article-content">
        
        <p>很久没升级路由了，最近openwrt和openvpn又更新版本了，导致之前的openwrt路由下opevpn互联配置出了些问题，连同Windows下tap模式访问局域网也失效了，配了半天都未成功，只能使用tun模式。</p>

        
        
        <p class="article-more-link">
          
            <a href="/openwrt/2024/12/19/openwrtE8B7AFE794B1E9A3A8E7BDB2wireguardE5AE9EE78EE7B8AEE4B8A4E59C84E7BB84E7BD91/#more">Read More</a>
          
       </p>
    </div>
    
    <footer class="article-footer clearfix">
<div class="article-catetags">
  
    <div class="article-categories">
      <span></span>
      
        
        <a href="/categories/openwrt/">openwrt</a>
      
    </div>
  

  
    <div class="article-tags">
      <span></span>
      
        
        <a href="/tags/openwrt/">openwrt</a>
      
    </div>
  
</div>




<div class="comments-count">
	
</div>

</footer>

    </article>






  
  
  
  
    
    <article class="post-expand post" itemprop="articleBody"> 
        <header class="article-info clearfix">
  <h1 itemprop="name">
    
      <a href="/openwrt/2024/12/18/openwrtE4B88BE8A7A3E586B3dnsmasq20cannot20access20directory20E79A84E997AEE9A298/" title="openwrt下解决dnsmasq cannot access directory 的问题" itemprop="url">openwrt下解决dnsmasq cannot access directory 的问题</a>
  </h1>
  <p class="article-author">By
       
		<a href="/about" title="Coffeecat" target="_blank" itemprop="author">Coffeecat</a>
		
  <p class="article-time">
    <time datetime="2024-12-18 09:39:31 +0000" itemprop="datePublished">  2024-12-18</time>
    
  </p>
</header>
    <div class="article-content">
        
        <p>最近更新了openwrt版本，结果设置dnsmasq-full的时候发现无法启动dnsmasq，查日志发现有个报错：
```bash</p>

        
        
        <p class="article-more-link">
          
            <a href="/openwrt/2024/12/18/openwrtE4B88BE8A7A3E586B3dnsmasq20cannot20access20directory20E79A84E997AEE9A298/#more">Read More</a>
          
       </p>
    </div>
    
    <footer class="article-footer clearfix">
<div class="article-catetags">
  
    <div class="article-categories">
      <span></span>
      
        
        <a href="/categories/openwrt/">openwrt</a>
      
    </div>
  

  
    <div class="article-tags">
      <span></span>
      
        
        <a href="/tags/openwrt/">openwrt</a>
      
    </div>
  
</div>




<div class="comments-count">
	
</div>

</footer>

    </article>






  
  
  
  
    
    <article class="post-expand post" itemprop="articleBody"> 
        <header class="article-info clearfix">
  <h1 itemprop="name">
    
      <a href="/openwrt/%E7%A7%91%E5%AD%A6%E4%B8%8A%E7%BD%91/2021/05/07/openwrtE4B88BE696B0E78988openvpnE8AEBEE7BDAE/" title="openwrt下新版openvpn设置" itemprop="url">openwrt下新版openvpn设置</a>
  </h1>
  <p class="article-author">By
       
		<a href="/about" title="Coffeecat" target="_blank" itemprop="author">Coffeecat</a>
		
  <p class="article-time">
    <time datetime="2021-05-07 22:39:31 +0000" itemprop="datePublished">  2021-05-07</time>
    
  </p>
</header>
    <div class="article-content">
        
        <p>最近更新了openvpn版本，一些命令和设置跟以前不一样了。现记录一下：</p>

        
        
        <p class="article-more-link">
          
            <a href="/openwrt/%E7%A7%91%E5%AD%A6%E4%B8%8A%E7%BD%91/2021/05/07/openwrtE4B88BE696B0E78988openvpnE8AEBEE7BDAE/#more">Read More</a>
          
       </p>
    </div>
    
    <footer class="article-footer clearfix">
<div class="article-catetags">
  
    <div class="article-categories">
      <span></span>
      
        
        <a href="/categories/openwrt/">openwrt</a>
      
        
        <a href="/categories/科学上网/">科学上网</a>
      
    </div>
  

  
    <div class="article-tags">
      <span></span>
      
        
        <a href="/tags/openwrt/">openwrt</a>
      
        
        <a href="/tags/科学上网/">科学上网</a>
      
    </div>
  
</div>




<div class="comments-count">
	
</div>

</footer>

    </article>






  
  
  
  
    
    <article class="post-expand post" itemprop="articleBody"> 
        <header class="article-info clearfix">
  <h1 itemprop="name">
    
      <a href="/openwrt/%E7%BC%96%E7%A8%8B/2021/02/10/openwrte4b88be59fbae4ba8eDNSPODe79a84DDNSe8849ae69cac/" title="openwrt下基于DNSPOD的DDNS脚本" itemprop="url">openwrt下基于DNSPOD的DDNS脚本</a>
  </h1>
  <p class="article-author">By
       
		<a href="/about" title="Coffeecat" target="_blank" itemprop="author">Coffeecat</a>
		
  <p class="article-time">
    <time datetime="2021-02-10 07:25:57 +0000" itemprop="datePublished">  2021-02-10</time>
    
  </p>
</header>
    <div class="article-content">
        
        <p>换dns供应商了，撸了一个openwrt下基于dnspod api的ddns脚本：</p>

        
        
        <p class="article-more-link">
          
            <a href="/openwrt/%E7%BC%96%E7%A8%8B/2021/02/10/openwrte4b88be59fbae4ba8eDNSPODe79a84DDNSe8849ae69cac/#more">Read More</a>
          
       </p>
    </div>
    
    <footer class="article-footer clearfix">
<div class="article-catetags">
  
    <div class="article-categories">
      <span></span>
      
        
        <a href="/categories/openwrt/">openwrt</a>
      
        
        <a href="/categories/编程/">编程</a>
      
    </div>
  

  
    <div class="article-tags">
      <span></span>
      
        
        <a href="/tags/openwrt/">openwrt</a>
      
        
        <a href="/tags/编程/">编程</a>
      
    </div>
  
</div>




<div class="comments-count">
	
</div>

</footer>

    </article>






  
  
  
  
    
    <article class="post-expand post" itemprop="articleBody"> 
        <header class="article-info clearfix">
  <h1 itemprop="name">
    
      <a href="/openwrt/%E7%A7%91%E5%AD%A6%E4%B8%8A%E7%BD%91/2020/03/24/v2rayE79A84wsE6A8A1E5BC8FE59CA8openwrtE4B88AE79A84E585A8E5B180E5928CE799BDE5908DE58D95E79A84E4BC98E58C96E9858DE7BDAE/" title="v2ray的ws模式在openwrt上的全局和白名单的优化配置" itemprop="url">v2ray的ws模式在openwrt上的全局和白名单的优化配置</a>
  </h1>
  <p class="article-author">By
       
		<a href="/about" title="Coffeecat" target="_blank" itemprop="author">Coffeecat</a>
		
  <p class="article-time">
    <time datetime="2020-03-24 14:25:57 +0000" itemprop="datePublished">  2020-03-24</time>
    
  </p>
</header>
    <div class="article-content">
        
        <p>一、简介</p>

        
        
        <p class="article-more-link">
          
            <a href="/openwrt/%E7%A7%91%E5%AD%A6%E4%B8%8A%E7%BD%91/2020/03/24/v2rayE79A84wsE6A8A1E5BC8FE59CA8openwrtE4B88AE79A84E585A8E5B180E5928CE799BDE5908DE58D95E79A84E4BC98E58C96E9858DE7BDAE/#more">Read More</a>
          
       </p>
    </div>
    
    <footer class="article-footer clearfix">
<div class="article-catetags">
  
    <div class="article-categories">
      <span></span>
      
        
        <a href="/categories/openwrt/">openwrt</a>
      
        
        <a href="/categories/科学上网/">科学上网</a>
      
    </div>
  

  
    <div class="article-tags">
      <span></span>
      
        
        <a href="/tags/openwrt/">openwrt</a>
      
        
        <a href="/tags/科学上网/">科学上网</a>
      
    </div>
  
</div>




<div class="comments-count">
	
</div>

</footer>

    </article>






  
  
  
  
    
    <article class="post-expand post" itemprop="articleBody"> 
        <header class="article-info clearfix">
  <h1 itemprop="name">
    
      <a href="/%E8%99%9A%E6%8B%9F%E5%8C%96/2020/01/20/e5ae9ae588b6esxi6.7e9959ce5838fe69687e4bbb6/" title="定制esxi6.7镜像文件" itemprop="url">定制esxi6.7镜像文件</a>
  </h1>
  <p class="article-author">By
       
		<a href="/about" title="Coffeecat" target="_blank" itemprop="author">Coffeecat</a>
		
  <p class="article-time">
    <time datetime="2020-01-20 08:25:57 +0000" itemprop="datePublished">  2020-01-20</time>
    
  </p>
</header>
    <div class="article-content">
        
        <p>最近升级了服务器，使用了x550万兆网卡，于是想在esxi6.7中集成最新的1.8.7的网卡驱动，折腾了3个小时，终于搞定：</p>

        
        
        <p class="article-more-link">
          
            <a href="/%E8%99%9A%E6%8B%9F%E5%8C%96/2020/01/20/e5ae9ae588b6esxi6.7e9959ce5838fe69687e4bbb6/#more">Read More</a>
          
       </p>
    </div>
    
    <footer class="article-footer clearfix">
<div class="article-catetags">
  
    <div class="article-categories">
      <span></span>
      
        
        <a href="/categories/虚拟化/">虚拟化</a>
      
    </div>
  

  
    <div class="article-tags">
      <span></span>
      
        
        <a href="/tags/虚拟化/">虚拟化</a>
      
    </div>
  
</div>




<div class="comments-count">
	
</div>

</footer>

    </article>






  
  
  
  
    
    <article class="post-expand post" itemprop="articleBody"> 
        <header class="article-info clearfix">
  <h1 itemprop="name">
    
      <a href="/%E7%BC%96%E7%A8%8B/2019/08/24/perle4bdbfe794a8mimee58f91e98081e5b8a6e99984e4bbb6e79a84e982aee4bbb6/" title="perl使用mime发送带附件的邮件" itemprop="url">perl使用mime发送带附件的邮件</a>
  </h1>
  <p class="article-author">By
       
		<a href="/about" title="Coffeecat" target="_blank" itemprop="author">Coffeecat</a>
		
  <p class="article-time">
    <time datetime="2019-08-24 11:38:57 +0000" itemprop="datePublished">  2019-08-24</time>
    
  </p>
</header>
    <div class="article-content">
        
        <p>好久不用perl脚本写东西了，今天突发奇想，需要自动发送带附件的邮件，网上找了很多资料，修改了一下，就是这样了，先用ppm安装MIME::Lite和Authen::SASL包</p>

        
        
        <p class="article-more-link">
          
            <a href="/%E7%BC%96%E7%A8%8B/2019/08/24/perle4bdbfe794a8mimee58f91e98081e5b8a6e99984e4bbb6e79a84e982aee4bbb6/#more">Read More</a>
          
       </p>
    </div>
    
    <footer class="article-footer clearfix">
<div class="article-catetags">
  
    <div class="article-categories">
      <span></span>
      
        
        <a href="/categories/编程/">编程</a>
      
    </div>
  

  
    <div class="article-tags">
      <span></span>
      
        
        <a href="/tags/编程/">编程</a>
      
    </div>
  
</div>




<div class="comments-count">
	
</div>

</footer>

    </article>






  
  
  
  
    
    <article class="post-expand post" itemprop="articleBody"> 
        <header class="article-info clearfix">
  <h1 itemprop="name">
    
      <a href="/%E7%A7%91%E5%AD%A6%E4%B8%8A%E7%BD%91/2019/06/14/v2ray2bLetsEncrypt2bcdne983a8e7bdb2/" title="v2ray+LetsEncrypt+cdn部署" itemprop="url">v2ray+LetsEncrypt+cdn部署</a>
  </h1>
  <p class="article-author">By
       
		<a href="/about" title="Coffeecat" target="_blank" itemprop="author">Coffeecat</a>
		
  <p class="article-time">
    <time datetime="2019-06-14 14:46:57 +0000" itemprop="datePublished">  2019-06-14</time>
    
  </p>
</header>
    <div class="article-content">
        
        <p>为了拯救被墙的ip，参考了一些资料，最终实现了v2ray+LetsEncrypt+cdn部署。
首先是申请一个域名，example.com</p>

        
        
        <p class="article-more-link">
          
            <a href="/%E7%A7%91%E5%AD%A6%E4%B8%8A%E7%BD%91/2019/06/14/v2ray2bLetsEncrypt2bcdne983a8e7bdb2/#more">Read More</a>
          
       </p>
    </div>
    
    <footer class="article-footer clearfix">
<div class="article-catetags">
  
    <div class="article-categories">
      <span></span>
      
        
        <a href="/categories/科学上网/">科学上网</a>
      
    </div>
  

  
    <div class="article-tags">
      <span></span>
      
        
        <a href="/tags/科学上网/">科学上网</a>
      
    </div>
  
</div>




<div class="comments-count">
	
</div>

</footer>

    </article>






  
  
  
  
    
    <article class="post-expand post" itemprop="articleBody"> 
        <header class="article-info clearfix">
  <h1 itemprop="name">
    
      <a href="/openwrt/%E7%A7%91%E5%AD%A6%E4%B8%8A%E7%BD%91/2019/06/09/v2raye59ca8openwrte4b88be79a84e5ae89e8a385e983a8e7bdb2/" title="v2ray在openwrt下的安装部署" itemprop="url">v2ray在openwrt下的安装部署</a>
  </h1>
  <p class="article-author">By
       
		<a href="/about" title="Coffeecat" target="_blank" itemprop="author">Coffeecat</a>
		
  <p class="article-time">
    <time datetime="2019-06-09 09:44:57 +0000" itemprop="datePublished">  2019-06-09</time>
    
  </p>
</header>
    <div class="article-content">
        
        <p>从本月开始，ss扶墙的服务器全灭，最夸张的是新建一个灭一个，活不过2小时。不得不寻找新的解决方案，终于，花了几天时间搞定了。那就是迁移到v2ray。</p>

        
        
        <p class="article-more-link">
          
            <a href="/openwrt/%E7%A7%91%E5%AD%A6%E4%B8%8A%E7%BD%91/2019/06/09/v2raye59ca8openwrte4b88be79a84e5ae89e8a385e983a8e7bdb2/#more">Read More</a>
          
       </p>
    </div>
    
    <footer class="article-footer clearfix">
<div class="article-catetags">
  
    <div class="article-categories">
      <span></span>
      
        
        <a href="/categories/openwrt/">openwrt</a>
      
        
        <a href="/categories/科学上网/">科学上网</a>
      
    </div>
  

  
    <div class="article-tags">
      <span></span>
      
        
        <a href="/tags/openwrt/">openwrt</a>
      
        
        <a href="/tags/科学上网/">科学上网</a>
      
    </div>
  
</div>




<div class="comments-count">
	
</div>

</footer>

    </article>






  
  
  
  
    
    <article class="post-expand post" itemprop="articleBody"> 
        <header class="article-info clearfix">
  <h1 itemprop="name">
    
      <a href="/openwrt/2018/02/28/e59ca8openwrt-ledee8b7afe794b1e4b88ae5ae9ee78eb0e59fbae4ba8ename-com-v4e78988e69cacapie79a84ddns/" title="在Openwrt/Lede路由上实现基于Name.com V4版本API的快速更新的DDNS" itemprop="url">在Openwrt/Lede路由上实现基于Name.com V4版本API的快速更新的DDNS</a>
  </h1>
  <p class="article-author">By
       
		<a href="/about" title="Coffeecat" target="_blank" itemprop="author">Coffeecat</a>
		
  <p class="article-time">
    <time datetime="2018-02-28 22:21:35 +0000" itemprop="datePublished">  2018-02-28</time>
    
  </p>
</header>
    <div class="article-content">
        
        <p>之前一直用花生壳的免费DDNS，但是最近一周不知道为啥，服务老是抽风，dns更新速度明显下降，甚至达到1-2天。于是研究了一下，发现name.com最近发布了v4版本的api，看了文档以后，果断写了个脚本，一旦ip变更，新dns可以马上更新，消耗时间无限接近0。。。于是ddns更新时间只基于计划任务的间隔时间了。。。<br />
使用此脚本的前提：<br />
1.域名必须是由name.com购买的，并且生成一个生产的Token。<br />
2.登陆账户必须没有开启二次验证，否则api会提示错误：Accout has Namesafe enabled. （注意这里account拼写还是错的。。已发ticket给name.com）。<br />
3.路由上需要安装curl和ca-certificates和ca-bundle,以便解析https。<br />
4.首次需要手动添加一次域名，以便获取ID号码，例如为www.examle.com添加第一个dns记录：<br />
<!--more--></p>

        
        
        <p class="article-more-link">
          
            <a href="/openwrt/2018/02/28/e59ca8openwrt-ledee8b7afe794b1e4b88ae5ae9ee78eb0e59fbae4ba8ename-com-v4e78988e69cacapie79a84ddns/#more">Read More</a>
          
       </p>
    </div>
    
    <footer class="article-footer clearfix">
<div class="article-catetags">
  
    <div class="article-categories">
      <span></span>
      
        
        <a href="/categories/openwrt/">openwrt</a>
      
    </div>
  

  
    <div class="article-tags">
      <span></span>
      
        
        <a href="/tags/openwrt/">openwrt</a>
      
    </div>
  
</div>




<div class="comments-count">
	
</div>

</footer>

    </article>






  
  
  
  
    
    <article class="post-expand post" itemprop="articleBody"> 
        <header class="article-info clearfix">
  <h1 itemprop="name">
    
      <a href="/openwrt/2018/01/30/e4bdbfe794a8ledeopenwrt-e8b7afe794b1e599a8e887aae58aa8e58f91e98081e982aee4bbb6/" title="使用LEDE/OPENWRT 路由器自动发送邮件" itemprop="url">使用LEDE/OPENWRT 路由器自动发送邮件</a>
  </h1>
  <p class="article-author">By
       
		<a href="/about" title="Coffeecat" target="_blank" itemprop="author">Coffeecat</a>
		
  <p class="article-time">
    <time datetime="2018-01-30 22:32:10 +0000" itemprop="datePublished">  2018-01-30</time>
    
  </p>
</header>
    <div class="article-content">
        
        <p>今天研究实现了手动或者定时自动通过LEDE/openwrt路由对外发送邮件的功能。<br />
1.安装软件包。</p>

        
        
        <p class="article-more-link">
          
            <a href="/openwrt/2018/01/30/e4bdbfe794a8ledeopenwrt-e8b7afe794b1e599a8e887aae58aa8e58f91e98081e982aee4bbb6/#more">Read More</a>
          
       </p>
    </div>
    
    <footer class="article-footer clearfix">
<div class="article-catetags">
  
    <div class="article-categories">
      <span></span>
      
        
        <a href="/categories/openwrt/">openwrt</a>
      
    </div>
  

  
    <div class="article-tags">
      <span></span>
      
        
        <a href="/tags/openwrt/">openwrt</a>
      
    </div>
  
</div>




<div class="comments-count">
	
</div>

</footer>

    </article>






  
  
  
  
    
    <article class="post-expand post" itemprop="articleBody"> 
        <header class="article-info clearfix">
  <h1 itemprop="name">
    
      <a href="/openwrt/2017/10/11/e5bc80e585b3openwrtledee8b7afe794b1e4b88ae79a84usbe8aebee5a487e794b5e6ba90/" title="开关openwrt/lede路由上的usb设备电源" itemprop="url">开关openwrt/lede路由上的usb设备电源</a>
  </h1>
  <p class="article-author">By
       
		<a href="/about" title="Coffeecat" target="_blank" itemprop="author">Coffeecat</a>
		
  <p class="article-time">
    <time datetime="2017-10-11 22:25:43 +0000" itemprop="datePublished">  2017-10-11</time>
    
  </p>
</header>
    <div class="article-content">
        
        <p>最近搞了个华为的usb无线网卡E8372插在lede路由上，但是想实现程序控制其供电，查阅资料后发现可以这样实现：<br />
首先：</p>

        
        
        <p class="article-more-link">
          
            <a href="/openwrt/2017/10/11/e5bc80e585b3openwrtledee8b7afe794b1e4b88ae79a84usbe8aebee5a487e794b5e6ba90/#more">Read More</a>
          
       </p>
    </div>
    
    <footer class="article-footer clearfix">
<div class="article-catetags">
  
    <div class="article-categories">
      <span></span>
      
        
        <a href="/categories/openwrt/">openwrt</a>
      
    </div>
  

  
    <div class="article-tags">
      <span></span>
      
        
        <a href="/tags/openwrt/">openwrt</a>
      
    </div>
  
</div>




<div class="comments-count">
	
</div>

</footer>

    </article>







  <nav id="page-nav" class="clearfix">
  <nav id="page-nav" class="clearfix">
    
    
    <span class="page-number current">1</span>
    
    
    
    <a class="page-number" href="/page2">2</a>
    
    
    
    <a class="page-number" href="/page3">3</a>
    
    
    
    <a class="page-number" href="/page4">4</a>
    
    
     
    <a class="extend next" rel="next" href="/page2">Next<span></span></a>
    
  </nav>
  </nav>

</div>
      
      
      <div class="openaside"><a class="navbutton" href="#" title="Show Sidebar"></a></div>

<div id="asidepart">
<div class="closeaside"><a class="closebutton" href="#" title="Hide Sidebar"></a></div>
<aside class="clearfix">


  
<div class="categorieslist">
  <p class="asidetitle">分类</p>
  <ul>
    
      
        
        <li>
          <a href="/categories/其他/" title="其他">
            其他<sup>6</sup>
          </a>
        </li>
      
    
      
        
        <li>
          <a href="/categories/linux/" title="linux">
            linux<sup>9</sup>
          </a>
        </li>
      
    
      
        
        <li>
          <a href="/categories/编程/" title="编程">
            编程<sup>5</sup>
          </a>
        </li>
      
    
      
        
        <li>
          <a href="/categories/科学上网/" title="科学上网">
            科学上网<sup>20</sup>
          </a>
        </li>
      
    
      
        
        <li>
          <a href="/categories/openwrt/" title="openwrt">
            openwrt<sup>45</sup>
          </a>
        </li>
      
    
      
        
        <li>
          <a href="/categories/虚拟化/" title="虚拟化">
            虚拟化<sup>2</sup>
          </a>
        </li>
      
    
  </ul>
</div>



  
<div class="tagslist">
  <p class="asidetitle">标签</p>
  <ul class="clearfix">
    
      
        
        <li>
          <a href="/tags/里程碑/" title="里程碑">
            里程碑<sup>3</sup>
          </a>
        </li>
      
    
      
        
        <li>
          <a href="/tags/linux/" title="linux">
            linux<sup>9</sup>
          </a>
        </li>
      
    
      
        
        <li>
          <a href="/tags/编程/" title="编程">
            编程<sup>5</sup>
          </a>
        </li>
      
    
      
        
        <li>
          <a href="/tags/科学上网/" title="科学上网">
            科学上网<sup>14</sup>
          </a>
        </li>
      
    
      
        
        <li>
          <a href="/tags/插件/" title="插件">
            插件<sup>1</sup>
          </a>
        </li>
      
    
      
        
        <li>
          <a href="/tags/openwrt/" title="openwrt">
            openwrt<sup>48</sup>
          </a>
        </li>
      
    
      
        
        <li>
          <a href="/tags/microsoft/" title="Microsoft">
            Microsoft<sup>1</sup>
          </a>
        </li>
      
    
      
        
        <li>
          <a href="/tags/锐速/" title="锐速">
            锐速<sup>1</sup>
          </a>
        </li>
      
    
      
        
        <li>
          <a href="/tags/debian/" title="debian">
            debian<sup>1</sup>
          </a>
        </li>
      
    
      
        
        <li>
          <a href="/tags/虚拟化/" title="虚拟化">
            虚拟化<sup>2</sup>
          </a>
        </li>
      
    
      
        
        <li>
          <a href="/tags/apk/" title="apk">
            apk<sup>1</sup>
          </a>
        </li>
      
    
      
        
        <li>
          <a href="/tags/cayman/" title="cayman">
            cayman<sup>1</sup>
          </a>
        </li>
      
    
      
        
        <li>
          <a href="/tags/highlight-js/" title="highlight.js">
            highlight.js<sup>1</sup>
          </a>
        </li>
      
    
      
        
        <li>
          <a href="/tags/warp/" title="warp">
            warp<sup>1</sup>
          </a>
        </li>
      
    
      
        
        <li>
          <a href="/tags/cloudflare/" title="cloudflare">
            cloudflare<sup>1</sup>
          </a>
        </li>
      
    
      
        
        <li>
          <a href="/tags/v2ray/" title="v2ray">
            v2ray<sup>3</sup>
          </a>
        </li>
      
    
      
        
        <li>
          <a href="/tags/chinadns-ng/" title="chinadns-ng">
            chinadns-ng<sup>1</sup>
          </a>
        </li>
      
    
      
        
        <li>
          <a href="/tags/tproxy/" title="tproxy">
            tproxy<sup>1</sup>
          </a>
        </li>
      
    
      
        
        <li>
          <a href="/tags/luci/" title="luci">
            luci<sup>1</sup>
          </a>
        </li>
      
    
      
        
        <li>
          <a href="/tags/lua/" title="lua">
            lua<sup>1</sup>
          </a>
        </li>
      
    
      
        
        <li>
          <a href="/tags/js/" title="js">
            js<sup>1</sup>
          </a>
        </li>
      
    
      
        
        <li>
          <a href="/tags/python/" title="python">
            python<sup>1</sup>
          </a>
        </li>
      
    
      
        
        <li>
          <a href="/tags/html/" title="html">
            html<sup>1</sup>
          </a>
        </li>
      
    
      
        
        <li>
          <a href="/tags/nginx/" title="nginx">
            nginx<sup>1</sup>
          </a>
        </li>
      
    
  </ul>
</div>



  
  <div class="tagcloudlist">
    <p class="asidetitle">标签云</p>
    <div id="tagcloud" class="tagcloudlist clearfix">
    </div>
  </div>


  <div class="linkslist">
  <p class="asidetitle">友情链接</p>
    <ul>
        
    </ul>
</div>

  


  

  <div class="rsspart">
	<a href="/atom.xml" target="_blank" title="rss">RSS 订阅</a>
</div>



</aside>
</div>
    </div>
    <footer><div id="footer" >
	
	<div class="line">
		<span></span>
		<div class="author"></div>
	</div>
	
	
	<section class="info">
		<p> Hello ,I'm Coffeecat. <br/>
			This is my blog.</p>
	</section>
	 
	<div class="social-font" class="clearfix">
		
		
		
		
		
		
		
		
		
		
	</div>
	<!--
			<%  Array.prototype.S=String.fromCharCode(2);
			  Array.prototype.in_array=function(e){
    			var r=new RegExp(this.S+e+this.S);
    			return (r.test(this.S+this.join(this.S)+this.S));
				};
				var cc = new Array('by','by-nc','by-nc-nd','by-nc-sa','by-nd','by-sa','zero'); %>
		<% if (cc.in_array(theme.creative_commons) ) { %>
				<div class="cc-license">
          <a href="http://creativecommons.org/licenses/<%= theme.creative_commons %>/4.0" class="cc-opacity" target="_blank">
            <img src="<%- config.root %>img/cc-<%= theme.creative_commons %>.svg" alt="Creative Commons" />
          </a>
        </div>
    <% } %>
				-->

		<p class="copyright">
		Powered by <a href="http://jekyllrb.com" target="_blank" title="jekyll">jekyll</a> and Theme by <a href="https://github.com/simpleyyt/jekyll-jacman" target="_blank" title="Jacman">Jacman</a> © 2015 
		
		<a href="about" target="_blank" title="Coffeecat">Coffeecat</a>
		
		
		</p>
</div>
</footer>
    <script src="/assets/js/jquery-2.0.3.min.js"></script>
<script src="/assets/js/jquery.imagesloaded.min.js"></script>
<script src="/assets/js/gallery.js"></script>
<script src="/assets/js/jquery.qrcode-0.12.0.min.js"></script>
<script src="/assets/js/toc.js"></script>

<script type="text/javascript">
$(document).ready(function(){
  $('.navbar').click(function(){
    $('header nav').toggleClass('shownav');
  });
  var myWidth = 0;
  function getSize(){
    if( typeof( window.innerWidth ) == 'number' ) {
      myWidth = window.innerWidth;
    } else if( document.documentElement && document.documentElement.clientWidth) {
      myWidth = document.documentElement.clientWidth;
    };
  };
  var m = $('#main'),
      a = $('#asidepart'),
      c = $('.closeaside'),
      o = $('.openaside');
  c.click(function(){
    a.addClass('fadeOut').css('display', 'none');
    o.css('display', 'block').addClass('fadeIn');
    m.addClass('moveMain');
  });
  o.click(function(){
    o.css('display', 'none').removeClass('beforeFadeIn');
    a.css('display', 'block').removeClass('fadeOut').addClass('fadeIn');
    m.removeClass('moveMain');
  });
  $(window).scroll(function(){
    o.css("top",Math.max(80,260-$(this).scrollTop()));
  });

  

  $(window).resize(function(){
    getSize();
    if (myWidth >= 1024) {
      $('header nav').removeClass('shownav');
    }else{
      m.removeClass('moveMain');
      a.css('display', 'block').removeClass('fadeOut');
      o.css('display', 'none');
      
    }
  });
});
</script>


<script src="/assets/js/tagcloud.js"></script>
<script>
$(document).ready(function() {
  var tags = [
    
    { "name": "里程碑", "path": "/tags/里程碑/", "length": 3 },
    
    { "name": "linux", "path": "/tags/linux/", "length": 9 },
    
    { "name": "编程", "path": "/tags/编程/", "length": 5 },
    
    { "name": "科学上网", "path": "/tags/科学上网/", "length": 14 },
    
    { "name": "插件", "path": "/tags/插件/", "length": 1 },
    
    { "name": "openwrt", "path": "/tags/openwrt/", "length": 48 },
    
    { "name": "Microsoft", "path": "/tags/microsoft/", "length": 1 },
    
    { "name": "锐速", "path": "/tags/锐速/", "length": 1 },
    
    { "name": "debian", "path": "/tags/debian/", "length": 1 },
    
    { "name": "虚拟化", "path": "/tags/虚拟化/", "length": 2 },
    
    { "name": "apk", "path": "/tags/apk/", "length": 1 },
    
    { "name": "cayman", "path": "/tags/cayman/", "length": 1 },
    
    { "name": "highlight.js", "path": "/tags/highlight-js/", "length": 1 },
    
    { "name": "warp", "path": "/tags/warp/", "length": 1 },
    
    { "name": "cloudflare", "path": "/tags/cloudflare/", "length": 1 },
    
    { "name": "v2ray", "path": "/tags/v2ray/", "length": 3 },
    
    { "name": "chinadns-ng", "path": "/tags/chinadns-ng/", "length": 1 },
    
    { "name": "tproxy", "path": "/tags/tproxy/", "length": 1 },
    
    { "name": "luci", "path": "/tags/luci/", "length": 1 },
    
    { "name": "lua", "path": "/tags/lua/", "length": 1 },
    
    { "name": "js", "path": "/tags/js/", "length": 1 },
    
    { "name": "python", "path": "/tags/python/", "length": 1 },
    
    { "name": "html", "path": "/tags/html/", "length": 1 },
    
    { "name": "nginx", "path": "/tags/nginx/", "length": 1 },
    
  ];
  $("#tagcloud").html(tagcloudHelper(tags));
});
</script>












<!--

-->




<link rel="stylesheet" href="/assets/fancybox/jquery.fancybox.css" media="screen" type="text/css">
<script src="/assets/fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $('.article-content').each(function(i){
    $(this).find('img').each(function(){
      if ($(this).parent().hasClass('fancybox')) return;
      if ($(this).hasClass('emoji')) return;
      var alt = this.alt;
      if (alt) $(this).after('<span class="caption">' + alt + '</span>');
      $(this).wrap('<a href="' + this.src + '" title="' + alt + '" class="fancybox"></a>');
    });
    $(this).find('.fancybox').each(function(){
      $(this).attr('rel', 'article' + i);
    });
  });
  if($.fancybox){
    $('.fancybox').fancybox();
  }
});
</script>


<!-- Analytics Begin -->





<!-- Analytics End -->

<!-- Totop Begin -->

	<div id="totop">
	<a title="返回顶部"><img src="/assets/img/scrollup.png"/></a>
	</div>
	<script src="/assets/js/totop.js"></script>


<!-- Totop End -->

<!-- MathJax Begin -->
<!-- mathjax config similar to math.stackexchange -->

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>

<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
      }
    });
</script>

<script type="text/x-mathjax-config">
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax(), i;
        for(i=0; i < all.length; i += 1) {
            all[i].SourceElement().parentNode.className += ' has-jax';
        }
    });
</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>


<!-- MathJax End -->

<!-- Tiny_search Begin -->

<!-- Tiny_search End -->

  </body>
 </html>

