<div class="article-catetags">
  {% if item.categories and (item.categories | size != 0) %}
    <div class="article-categories">
      <span></span>
      {% for category in item.categories %}
        {% assign slug = category | slugify %}
        <a href="{{ site.baseurl }}/categories/{{ slug }}/">{{ category }}</a>
      {% endfor %}
    </div>
  {% endif %}

  {% if item.tags and item.tags | size != 0 %}
    <div class="article-tags">
      <span></span>
      {% for tag in item.tags %}
        {% assign slug = tag | slugify %}
        <a href="{{ site.baseurl }}/tags/{{ slug }}/">{{ tag }}</a>
      {% endfor %}
    </div>
  {% endif %}
</div>

